@CHARSET "UTF-8";
/* documentation */
.context-events {
}

.context-events #section-content #zone-above-content-1-wrapper {
  background-color: #1A6099;
  color: White;
}
.context-events #section-content #zone-above-content-1-wrapper .block .content H2 {
  margin: 1em 0em;
  font-size: 2.25em;
  font-weight: normal;
}

.context-events #section-content #zone-content-wrapper {
  padding-top: 2em; 
  padding-bottom: 1em;
}
.context-events #region-sidebar-first .block {
}
.context-events #region-sidebar-first .block .block-title {
  font-size: 1.15em;
}
.context-events #region-sidebar-first .block .content {
  font-size: 0.9em;
}
.context-events #region-sidebar-first .block .content UL {
}
.context-events #region-sidebar-first .block .content LI {
  list-style-image: none;
  list-style-type: none;
  margin: 0px 0px 1em;
  padding: 0px;
}
.context-events #region-sidebar-first .block .content LI A {
  text-decoration: none;
}

BODY.page-events H1.title {
  display: none;
}


  



